Package: com.nightwind.callendtime
Name: CallEndTime
Version: 0.0.1
Architecture: iphoneos-arm
Description: Adds an end time to recent calls in the Phone app.
Maintainer: Nightwind
Author: Nightwind
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
